<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bootstrap页面样例</title>
    
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!-- 头部 -->
    <header>
        <div class="navbar navbar-black">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-leaf"></i>
                        bootstrap
                    </a>
                </div>
                
                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="#">
                                <img class="img-rounded" src="img/avatar.png">
                                <span>admin</span>
                            </a>
                        </li>                   
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 -->

    <!-- 侧边栏 -->
    <div class="king-vertical-nav4">
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="current">
                    <a href="index.html">
                        <i class="fa fa-gear"></i>首页
                    </a>
                </li>
                <li class="has_submenu current open">
                    <a href="javascript:;">
                        <i class="fa fa-wrench"></i>表单
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="form1.html">表单一<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li class="active">
                            <a href="form2.html">表单二<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="form3.html">表单三<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>表格
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="table1.html">表格一<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="table2.html">表格二<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="last has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-ellipsis-h"></i>其他
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="blank.html">空白<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="king-main-container">
        <div class="container-fluid">

            <div class="panel panel-default pannel-overflow">
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>当前文件
                </div>
                <div class="panel-body panel-tab-body pl20 pr20">
                    <div class="panel-content">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a href="#file" data-toggle="tab">文件属性</a>
                            </li>
                            <li>
                                <a href="#profile" data-toggle="tab">文件模板</a>
                            </li>
                            <li>
                                <a href="#bind" data-toggle="tab">进程绑定</a>
                            </li>
                            <li>
                                <a href="#expert" data-toggle="tab">专家模式</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- 文件属性 开始 -->
                            <div class="tab-pane fade king-block-content active in container-fluid" id="file">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <form class="form-horizontal mt20">
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">文件路径：</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="inputPassword3" placeholder="">
                                                    <p class="help-block">配置文件在目标机器上的存放路径</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">文件名称：</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="inputPassword3" placeholder="">
                                                    <p class="help-block">配置文件在目标机器上的文件名称</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">模版名称：</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="inputPassword3" placeholder="">
                                                    <p class="help-block">模版名称</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">所属用户：</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control">
                                                        <option>user00</option>
                                                        <option>root</option>
                                                        <option>Administrator</option>
                                                    </select>
                                                    <p class="help-block">配置文件在目标机器上的所属用户</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">文件权限：</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control">
                                                        <option>777</option>
                                                        <option>775</option>
                                                        <option>644</option>
                                                        <option>888</option>
                                                    </select>
                                                    <p class="help-block">配置文件在目标机器上的文件权限</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">文件编码：</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control">
                                                        <option>utf-8</option>
                                                        <option>unicode</option>
                                                    </select>
                                                    <p class="help-block">配置文件在目标机器上的文件编码</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">分组名称：</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control"><option>1</option></select>
                                                    <p class="help-block">用于配置文件归类显示</p>
                                                </div>
                                            </div>                                    
                                            <div class="form-group">
                                                <label for="inputPassword3" class="col-sm-2 control-label">文件描述：</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control"></textarea>
                                                    <p class="help-block">配置文件的描述信息</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                    <button class="king-btn king-primary mr10">保存</button>
                                                    <button class="king-btn king-default">重置</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- 文件属性结束 -->
                            
                            <div class="tab-pane fade" id="profile">
                                <p style="padding:15px;">文件模板</p>
                            </div>
                            <!-- 进程绑定 开始 -->
                            <div class="tab-pane fade" id="bind">
                                
                                <div class="panel panel-tables">
                                    <div class="p20">
                                        <a class="king-btn king-radius king-primary" title="保存绑定关系">保存绑定关系</a>
                                        <span class="hint-info"><i class="hint"></i>勾选配置文件以进行绑定，反选以进行解绑</span>
                                    </div>

                                        <div class="panel-content">
                                            <div class="table-group">
                                                <div class="table-title">
                                                    <i class="fa fa-files-o"></i>Common
                                                </div>
                                                <table class="table table-out-bordered table-header-bg table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:38px;text-align:center;"><input type="checkbox" value=""></th>
                                                        <th>功能ID</th>
                                                        <th>功能名称</th>
                                                        <th>进程名称</th>
                                                        <th>工作路径</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                            <div class="table-group">
                                                <div class="table-title">
                                                    <i class="fa fa-files-o"></i>未分组(默认)
                                                </div>
                                                <table class="table table-out-bordered table-header-bg table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:38px;text-align:center;"><input type="checkbox" value=""></th>
                                                        <th>功能ID</th>
                                                        <th>功能名称</th>
                                                        <th>进程名称</th>
                                                        <th>工作路径</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center"><input type="checkbox" value=""></td>
                                                        <td>1</td>
                                                        <td>xxxx</td>
                                                        <td>xx</td>
                                                        <td>/data/home/user00/ttdsg/cfg</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>

                                </div>


                            </div>
                            <!-- 进程绑定 结束 -->


                            <div class="tab-pane fade p20" id="expert">

                                <div class="alert alert-warning" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>不当使用可能导致风险！</strong>
                                    专家模式可以帮助您在复杂的模板和环境对应关系间进行更加灵活的控制。但是使用不当可能造成一定的风险，请确认您清楚此项的使用方法再开启。
                                </div>
                                <div class="alert alert-danger">
                                    <button type="button" class="btn btn-danger">开启专家模式</button>
                                    <button type="button" class="btn btn-link" style="margin-left: 20px;">专家模式是什么？</button>
                                    <button type="button" class="btn btn-danger" style="display: none;">关闭专家模式</button>
                                    <span class="glyphicon glyphicon-warning-sign" style="margin-left: 20px; display: none;">关闭专家模式可能存在风险！
                                    <button type="button" class="btn btn-link" style="display: none;">了解更多</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>

<script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
<script src="./js/index.js"></script>

</body>
</html>