<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bootstrap页面样例</title>
    
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!-- 头部 -->
    <header>
        <div class="navbar navbar-black">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-leaf"></i>
                        bootstrap
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="#">
                                <img class="img-rounded" src="img/avatar.png">
                                <span>jiaxu</span>
                            </a>
                        </li>                   
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 -->

    <!-- 侧边栏 -->
    <div class="king-vertical-nav4">
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="current">
                    <a href="index.html">
                        <i class="fa fa-gear"></i>首页
                    </a>
                </li>
                <li class="has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-wrench"></i>表单
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="form1.html">表单一<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="form2.html">表单二<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="form3.html">表单三<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="has_submenu current open">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>表格
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="table1.html">表格一<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li class="active">
                            <a href="table2.html">表格二<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="last has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-ellipsis-h"></i>其他
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="blank.html">空白<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="king-main-container">
        <div class="container-fluid">
            <div class="panel panel-default pannel-overflow panel-list">
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>业务模块列表
                </div>
                <div class="panel-body">
                    <div class="panel-content">
                        <h6><i class="fa fa-sitemap"></i>Script</h6>
                        <ul>
                            <li class="active"><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        <h6><i class="fa fa-sitemap"></i>Script</h6>
                        <ul>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#none"><i class="fa fa-file-text-o"></i>addiptables <span>(addiptables)</span><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default pannel-overflow panel-tables">
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>进程列表
                </div>
                <div class="panel-btns">
                    <a class="king-btn king-radius king-primary" title="保存绑定关系">保存绑定关系</a>
                    <span class="hint-info"><i class="hint"></i>勾选配置文件以进行绑定，反选以进行解绑</span>
                </div>
                <div class="panel-body">
                    <div class="panel-content">
                        <div class="table-group">
                            <div class="table-title">
                                <i class="fa fa-files-o"></i>Common
                            </div>
                            <table class="table table-out-bordered table-header-bg table-hover">
                                <thead>
                                <tr>
                                    <th style="width:38px;text-align:center;"><input type="checkbox" value=""></th>
                                    <th>配置文件名</th>
                                    <th>配置文件路径</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>

                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                                <tr>
                                    <td align="center"><input type="checkbox" value=""></td>
                                    <td>client.json</td>
                                    <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="table-group">
                            <div class="table-title">
                                <i class="fa fa-files-o"></i>未分组(默认)
                            </div>
                            <table class="table table-out-bordered table-header-bg table-hover">
                                <thead>
                                <tr>
                                    <th style="width:38px;text-align:center;"><input type="checkbox" value=""></th>
                                    <th>配置文件名</th>
                                    <th>配置文件路径</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center"><input type="checkbox" value=""></td>
                                        <td>client.json</td>
                                        <td>/data/home/user00/ttdsg/cfg/client.json</td>

                                    </tr>
                                    <tr>
                                        <td align="center"><input type="checkbox" value=""></td>
                                        <td>client.json</td>
                                        <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><input type="checkbox" value=""></td>
                                        <td>client.json</td>
                                        <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><input type="checkbox" value=""></td>
                                        <td>client.json</td>
                                        <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><input type="checkbox" value=""></td>
                                        <td>client.json</td>
                                        <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><input type="checkbox" value=""></td>
                                        <td>client.json</td>
                                        <td>/data/home/user00/ttdsg/cfg/client.json</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    2014-2015 &copy;
                        GSE-Web团队                       
                    <span class="action-buttons">
                        jinruiliang、jimwu、hoffermei、owenlxu、vanliu 
                        <a href="#" target="_blank">
                            关于 
                        </a>&nbsp;|
                        <a href="#" target="_blank">
                            KM知识汇总 
                        </a>&nbsp;|
                        <a href="#" target="_blank">
                            K吧 
                        </a>&nbsp;|
                        <a href="http://tapd.oa.com/gse_web/prong/tasks" target="_blank">
                            TAPD
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </footer> -->
</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
<script src="./js/index.js"></script>

</body>
</html>